<form name="location" id="location" action="WeatherData" method="get">
    <p>Latitude: </p>
    <input type="text" name="latitude" id="latitude" required />
    <p>Longitude: </p>
    <input type="text" name="longitude" id="longitude" required/>
    
    <input type="submit" name="submit" value="Submit">
</form>